<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Messageboard</title>
</head>
<body>
  <header>
    <h1><%= title %></h1>
  </header>
  <main>
    <div class="messages">

      <% if (messages.length > 0) { %>
        <% messages.forEach(message => { %>

          <div class="post">
            <h2 class="user"> <%= message.user %> </h2>
            <p class="added"> <%= message.added %> </p>
            <p class="text"> <%= message.text %> </p>
          </div>

        <% }) %>
      <% } else { %>
        <h2 class="empty">There are no messages to display</h2>
      <% } %> 

    </div>
  </main>
</body>
</html>